@keyframes subirTela {
    from {
        transform: translate(-50%, 50%); /* começa mais pra baixo */
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%); /* termina centralizado */
        opacity: 1;
    }
}

@keyframes descerTela {
    from {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: translate(-50%, 50%); 
        opacity: 0;
    }
}


@font-face {
    font-family: 'Balatro'; /* Nome da fonte */
    src: url('fonts/balatro.otf') format('opentype'); /* Caminho para o arquivo .otf */
}

body{
    font-family: 'Balatro', sans-serif;
    margin: auto;
    cursor: url('assets/Hand3.png'), auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.5); Fundo preto com opacidade */
}


.cabeçalho {
    position: relative;
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
    color: rgb(250, 250, 250); /* Melhor contraste com o vídeo */
    margin-bottom: 0rem;
    padding: 0rem;
    text-shadow: 2px 2px 5px rgb(134, 91, 0); /* Sombra para dar contraste no texto */
}

/* Vídeo como background */
#background-video {
    position: fixed; /* Coloca o vídeo em um nível de fundo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz o vídeo cobrir a área sem distorcer */
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}

h1 {
    position: relative;
    text-align: center;
    z-index: 1; /* Garante que o texto fique sobre o vídeo */
}

#bloco-titulo{
      width: 20rem; /* ajuste para o tamanho da sua imagem */
      height: 5rem; /* ajuste para o tamanho da sua imagem */
      background-image: url('assets/bloco-novo.png'); /* substitua pelo caminho certo */
      background-position: left;
      background-size: 100% 100%; /* estica a imagem proporcionalmente */
      background-repeat: no-repeat;
      display:flex;
      justify-content: center;
      align-items: center;
      font-family: 'Balatro', monospace;
      font-size: 1.5rem;
      color: #29012b;
      text-shadow: 1px 1px 1px #ffaa00;
}

.bloco-botão{
    width: 200px;
    height: 80px;
    margin: 50px auto;
    background-image: url('assets/bloco-novo.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Balatro', monospace;
    font-size: 1.5rem;
    color: #29012b;
    text-shadow: 1px 1px 1px #ffaa00;
    border: none;
    background-color: transparent;
    border-radius: 1rem;
    cursor: url('assets/Hand2.png'), auto;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.paragrafo-recuado {
    text-indent: 30px;
    margin-left: 30px;
    margin-top: 0px;
    color: antiquewhite;
}

.caixa-transparente{
    background-color: rgba(0, 0, 0, 0.5); /* preto com 50% de opacidade */
    text-align:justify;
    position: relative;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 1200px;
    text-indent: 30px;
}

.afasta-esquerda{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: auto;
}

.caixa-botão{
    display: flex;
    gap:15rem;
}


button {
    border: none; /* Sem bordas */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transição suave */
    background:none;
    border: none;
    border-radius: 1rem;
}

button:hover {
    transform: scale(1.1); /* Aumentar levemente o botão */
    box-shadow: 0 0 15px 5px rgb(240, 181, 55); /* Efeito de luz ao redor */
}

button, button *{
    cursor: url('assets/Hand2.png'), auto;
}

.bloco-botao:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 5px white;
  }

  /* força o cursor até dentro dos filhos */
  .bloco-botao * {
    pointer-events: none;
  }

.Postagens {
	display: none;
}

.tela_autores {
    display: none;
}

.tela-sobreposta {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%); /* começa abaixo do centro */
    width: 80vw;
    max-width: 800px;
    height: 70vh;
    background-color: rgba(10, 10, 10, 0.95);
    z-index: 100;
    animation: subirTela 0.4s ease-out forwards;
    display: none;
    color: white;
    padding: 2rem;
    overflow-y: auto;
    border-radius: 1rem;
}

#sale {
    width: 49rem;
    height: 30rem;
}

#background-links{
    margin: 0rem;
    padding: 0rem;
    background-image: url(assets/fundo-shop-balatro.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}