<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Postagem</title> <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="src/components/posts/posts.css">
</head>
<body>
    <div class="container">
        <h1 class="name_container">Nova Postagem</h1> 
        <div class="insertItems">
            <div class="title-group"> 
                <label for="postTitle">
                    Título: 
                </label>
                <input type="text" id="postTitle" placeholder="Insira o título do post aqui"> 
            </div>
            <div class="content-group"> 
                <label for="postContent">
                    Conteúdo:
                </label>
                <textarea id="postContent" placeholder="Insira o conteúdo do seu texto aqui"></textarea> 
            </div>
        </div>
        <button type="submit" class="buttonInsert">Incluir Postagem</button> </div>
</body>
</html>